:root {
    --mx-indigo: #221275;
    --mx-blue: #024FA9;
    --mx-olive: #9CA53C;
    --mx-magenta: #CA018B;

    --ink-900: #0F1220;
    --ink-700: #23273a;
    --ink-500: #71768b;

    --card: #FFFFFF;
    --stroke: #E9ECF6;

    --shadow-card: 0 10px 30px rgba(15, 18, 32, .08);
}

@font-face {
    font-family: 'DoubleBass';
    src:
        url('/assets/fonts/doublebass/DoubleBass-Regular-trial.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DoubleBass';
    src:
        url('/assets/fonts/doublebass/DoubleBass-Light-trial.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

* {
    box-sizing: border-box
}

html,
body {
    margin: 0;
    padding: 0
}

body {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    color: #0F1220;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: linear-gradient(135deg,
            #221275 33%,
            #024FA9 66%,
            #CA018B 100%);
    /* #9CA53C 100%); */
    background-attachment: fixed;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: rgba(255, 255, 255, .7);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px
}

app-root {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1;
    display: block;
}

app-footer {
    display: block;
    margin: 26px 0;
}